In [17]:
import numpy as np 
import pandas as pd

In [41]:
data={"keys":["k1","k2","k3","k4"],
      "Name":["john","ben","sam","harshu"],
      "houses":["red","blue","elow","brown"],
      "grades":["A","B","C","D"]}
df=pd.DataFrame(data)
print(df)
print("")
print("")
print(df.pivot(index="keys", columns="Name", values=["houses","grades"]))

  keys    Name houses grades
0   k1    john    red      A
1   k2     ben   blue      B
2   k3     sam   elow      C
3   k4  harshu  brown      D


     houses                   grades
Name    ben harshu john   sam    ben harshu john  sam
keys
k1      NaN    NaN  red   NaN    NaN    NaN    A  NaN
k2     blue    NaN  NaN   NaN      B    NaN  NaN  NaN
k3      NaN    NaN  NaN  elow    NaN    NaN  NaN    C
k4      NaN  brown  NaN   NaN    NaN      D  NaN  NaN

In [52]:
#melting
data={"keys":["k1","k2","k3","k4"],
      "Name":["john","ben","sam","harshu"],
      "houses":["red","blue","elow","brown"],
      "grades":["A","B","C","D"]}
df=pd.DataFrame(data)
print(df)
print("")
print(df.melt(id_vars=["Name","keys"],value_vars=["houses","grades"],var_name="houses&grades",value_name="value_names"))

  keys    Name houses grades
0   k1    john    red      A
1   k2     ben   blue      B
2   k3     sam   elow      C
3   k4  harshu  brown      D

     Name keys houses&grades value_names
0    john   k1        houses         red
1     ben   k2        houses        blue
2     sam   k3        houses        elow
3  harshu   k4        houses       brown
4    john   k1        grades           A
5     ben   k2        grades           B
6     sam   k3        grades           C
7  harshu   k4        grades           D